table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
    font-size:1em;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) .5em;
  font-size:.8em;
}

tr,
td,
th {
  vertical-align: middle;
}
